$bannerColorHex:#2b3c47;
$bannerColorRGBA:rgba(43,60,71,.9);

.trend{
	background-color:#fff;
	border-top:1px solid #eaeaea;
	border-left:1px solid #eaeaea;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#318cbf;
	display:inline-block;
	*display:inline;
	font-weight:700;
	font-size:12px;
	line-height:1em;
	margin-bottom:8px;
	padding:3px 5px;
	position:relative;
	text-transform:uppercase;
	vertical-align:middle;
	z-index:3;
	*zoom:1;
	@include box-shadow(0px 0 2px rgba(0, 0, 0, 0.05));
	
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: 10px solid #ddd;
		border-bottom: 5px solid transparent;
		margin: 0;
		z-index: 2;
		bottom: -6px;
		right: 0px;
	}
}
.single-navigation{
	position:relative;
	left:-10px;
	width:679px!important;
	border-top:1px solid #ddd;
	a{
		min-height:80px;
	}
	#previous{
		border-right:1px solid #ddd;
		a{
			background: transparent url("../img/icons/previous_article_arrow_ddd.png") no-repeat 14px center;
		}
	}
	#next a{
		background: transparent url("../img/icons/next_article_arrow_ddd.png") no-repeat 316px center;
	}
	.columns{
		min-height:80px;
	}
	.columns:hover{
		background-color:#fafafa;
	}
}
.single-navigation a{
	font-weight:700;
	text-align:center;
	display:block;
	color:#1087a5!important;
	padding:14px 30px;
	
	span{
		color:#000!important;
		font-size:12px;
		margin-bottom:9px;
		text-transform:uppercase;
		display:block;
	}
	&:hover, &:focus{
		text-decoration:none!important;
	}
}

.lazy {
  display: none;
}

#primary img.thumbnail-play-button{
	position:absolute;
	left:5px;
	bottom:5px;
	margin-bottom:0px;
}

.pink.button, .gallery-controls ul li a{
	font-family:$proxima-nova;
	font-weight:800;
}

.gallery-controls {
	position:relative;
	margin:20px 0;
	height:51px;
	padding-bottom:14px;
	border-bottom:1px solid #525252;
	.slide-counter{
		color:#525252;
		position:absolute;
		width:100px;
		left:50%;
		margin-left:-50px;
		text-align:center;
		line-height:36px;		
	}	
}



.slide-caption{
	line-height:1.3em;
	font-size:13px;
	height:110px!important;
	margin-bottom:14px;
}

.gallery-controls a, .paging{
	color:#fff;
	&:hover, &:focus, &:active, &:visited{
		color:#fff;
	}
	line-height:36px;
	@include border-radius(3px);
	@include box-shadow(inset 0 -1px 0 0 #f57d7e);
	background-color:$salmon;
	width:102px;
	font-size:23px;
	text-transform:uppercase;
	&.flex-prev, &.prev-article{
		float:left;
		text-align:left;
		padding-left:10px;
	}
	&.flex-next, &.next-article{
		float:right;
		padding-right:10px;
		text-align:right;
	}
}
#modal-list{
	li{
		margin-bottom:20px;
		img{
			margin:0;
		}
	}
}
.header-banner div.next-link {
	float:right;
	margin-top:2px;
}
.header-banner div.next-link a{
	border:none;
	background:#ccc url("../img/icons/next_article_arrow.png") no-repeat 76px 13px!important;
	position:relative;
	right:-10px;
	@include border-radius(3px);
	line-height:36px;
	padding-right:25px;
	padding-left:5px;
	width:96px;
	display:inline-block;
	*display:inline;
	top:1px;
	*zoom:1;
	font-size:23px;
	color:#fff;
	&:hover, &:focus, &:active, &:visited{
		color:#fff;
	}
	text-transform:uppercase;
	&:hover{
		background:darken(#ccc, 5%) url("../img/icons/next_article_arrow.png") no-repeat 76px 13px!important;
	}

}

.banner{
	background-color:$bannerColorHex;
	background-color:$bannerColorRGBA;
	color:#ee615d;
	display:block;
	font-size:13px;
	font-weight:700;
	line-height:1em;
	padding:8px 7px 7px;
	position:absolute;
	top:8px;
	left:-6px;
	text-transform:uppercase;
	z-index:5;
	*zoom:1;
	@include box-shadow(0px 0 2px rgba(0, 0, 0, 0.1));
	@include text-shadow(0px 1px 0px rgba(0,0,0,.2));

	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-right: 6px solid $bannerColorHex;
		border-bottom: 5px solid transparent;
		margin: 0;
		z-index: 2;
		bottom: -5px;
		left: 0px;
	}
	&:hover, &:focus, &:active, &:visited{
		color:#ee615d;
	}
}
#primary .post-box a.thumb-wrapper{
	display:block;
	position:relative;
}
#primary .post-box img.lazy{
	width:202px;
	height:140px;
}
.post-box{
	background-color:#fff;
	border:1px solid #d8d8d8;
	position:relative;
	@include border-radius(2px);
	margin-bottom:1em;
	img{
		display:block;
	}
	.top{
		position:relative;
		padding-left:202px;
		height:140px;
	}
	@include box-shadow(0px 2px 0 0 rgba(0, 0, 0, 0.05));
	.imgwrap{
		height:140px;
		width:202px;
		position:absolute;
		top:0;
		left:0;
	}
	.social{
		background-color:#fafafa;
		@include box-shadow(inset 0 2px 2px 0px rgba(0,0,0,.1));
		height:45px;
	}
}

#sidebar div.banner-wrapper{
	height:51px;
}

.single, .page{
	#primary{
		div.banner-wrapper{
			margin-bottom:16px;
		}
	}
}

div.banner-wrapper{
	position:relative;
	height:52px;
}

.header-banner{
	font-size:18px;
	font-weight:800;
	line-height:50px;
	position:absolute;
	top:0;
	left:0;
	text-transform:uppercase;
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 10px solid transparent;
		margin: 0;
		z-index: 2;
		bottom: -10px;
	}
}

#sidebar .header-banner{
	background-color:#fff;
	color:$salmon;
	border-right:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	width:350px;
	left:-10px;
	height:51px;
	padding:0 10px;
	&:before{
		border-left: 10px solid #ccc;
		right:-1px;
	}
}
.single #primary .header-banner{
	margin-bottom:10px;
}
.single a.pinned_tag{
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	left:-10px;
	background-color:$salmon;
	color:#fff;
	font-family:$proxima-nova;
	font-weight:700;
	font-size:16px;
	padding:10px;
	margin-bottom:-10px;
	text-transform:uppercase;
	line-height:1.4em;
	&:active, &:hover, &:focus, &:visited{
		color:#fff;
	}
}
#primary .header-banner{
	padding:0 20px;
	background-color:#fafafa;
	border-left:1px solid #e3e3e3;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	color:#000;
	width:690px;
	left:-21px;
	margin-bottom:0;
	&:before{
		border-right: 10px solid #e3e3e3;
		left:-1px;
	}
}

#primary .post-box{
	
	.social{
		position:relative;
	}
	.social .open-share{
		display:block;
		line-height:45px;
	}
	.social .share{
		height:45px;
		display:none;
		position:absolute;
		left:0;
		top:0;
	}
	.share li{
		padding:12px 0 0 8px;
	}

	.details{
		padding:12px 10px 10px;
		font-size:12px;

		h1.post-title-headline{
			margin:0;
		}
		
		a, a:hover, a:active, a:visited, a:focus{
			color:#000;
		}
		
		a{
			display:block;
			font-size:17px;
			line-height:20px;
			font-weight:700;
			margin-top:6px;
		}
	}
}

#next-post-link, #previous-post-link{
	a{
		padding:7px;
		text-transform:uppercase;
		background-color:#ccc;
		font-size:16px;
		line-height:36px;
		@include border-radius(3px);
		font-weight:800;
		color:#fff!important;
	}
	a, a:hover, a:focus, a:visited, a:active{
		color:#fff!important;
		text-decoration:none!important;
	}
}

#next-post-link a:hover, #previous-post-link a:hover{
	background-color:#bbb;
}

#article-row .single-page-loop,
 {
	width:100% !important;
}